SECRET_KEY=django-insecure-l)51*838!q+kh5r0m!_v_96v)f%(zr1iy4q9_z_m(j^own6v^a
DEBUG=True
DATABASE_URL=
JWT_SECRET_KEY=django-insecure-l)51*838!q+kh5r0m!_v_96v)f%(zr1iy4q9_z_m(j^own6v^a
OPENAI_API_KEY=
EMAIL_PROVIDER=console
EMAIL_API_KEY=
EMAIL_FROM=noreply@ayusetu.com
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=http://localhost:8000/api/calendar/callback/
REDIS_URL=
FRONTEND_URL=http://localhost:5173
BACKEND_URL=http://localhost:8000
